.a_tbdr{
  border:1px dashed red;
}
header{
  height: 106px;
  background: #5C1F7A;
  border:1px dashed red;
}
main{
  height: 2000px;
  background: #fff;
  border:1px dashed red;
}
footer{
  height:67px;
  background-color: #0099CC;
  border:1px dashed purple;
}